<h1>Add New Hack</h1>

<div class="row">
  <div class="span6 offset3">
		<center>
   	 <%= form_for [@hackday, @hack] do |f| %>
	 	 	<%= render 'shared/error_messages' %>

   	   <%= f.label :title %>
   	   <%= f.text_field :title %>

   	   <%= f.label :people %>
   	   <%= f.text_field :people %>
	 	 	
	 	 	<p>
   	   	<%= f.submit "Create hack!", class: "btn btn-large btn-primary" %>
	 	 	</p>
   	 <% end %>
		</center>
  </div>
</div>
